@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #fa55f1, #b361fa) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bot-intro {
    z-index: 20;
    animation: transitionIn 2s;
    justify-content: center;
    align-items: center;
}

.glass {
    /*background: white !important;*/
    background-image: url(../images/00.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #464646;
    min-height: 80vh;
    min-width: 35vh;
    width: 35%;
    border-radius: 1rem;
    z-index: 20;
    backdrop-filter: blur(2rem);
    display: flex;
    animation: transitionIn 2s;
}

.rectangle1,
.rectangle2{
    z-index: 0;
    height: 13rem;
    width: 20rem;
    position: absolute;
    border-radius: 4%;
    animation: transitionIn 2s ease-in-out;
}

#rectangle1 {
    background-image: url(../images/24.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 15%;
    left: 4%;
}

#rectangle2 {
    background-image: url(../images/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 55%;
    left: 4%;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
    z-index: 0;
    height: 8rem;
    width: 8rem;
    position: absolute;
    border-radius: 50%;
    animation: rotateIn 2s ease-out;
}

.circle1 {
    background-image: url(../images/masumthebot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 43%;
    right: 12%;
}

.circle4 {
    background-image: url(../images/Abedur.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 18%;
    right: 5%;
}

.circle5 {
    background-image: url(../images/mohim.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 18%;
    right: 18%;
}

.circle2 {
    background-image: url(../images/anik.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 70%;
    right: 5%;
}

.circle3 {
    background-image: url(../images/nihon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 70%;
    right: 18%;
}

.chat-section {
    height: 80vh;
    width: 100%;
    /* background: aqua; */
    border-radius: 0 2rem 2rem 0;
}

.chat-view {
    padding: 1rem;
    max-height: 85%;
    margin-top: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-view::-webkit-scrollbar {
    display: none;
}

.bot-intro,
.bot-container,
.input-container {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    animation: fadeIn 0.5s ease-in-out;
}

.bot-msg {
    float: left;
    /*background-color: rgb(250, 85, 241);*/
    background-color:  	rgb(0,0,0);
    color: rgb(0, 255, 0);
    border-radius: 0 12px 12px 12px;
    padding: 15px;
    text-align: justify;
    overflow: auto;
}

.input-msg {
    float: right;
    /*background-color: rgb(86, 79, 255);*/
    background-color: rgb(127,255,0);
    /*background-color: rgb(255, 248, 220);*/
    color: rgb(0, 0, 0);
    border-radius: 12px 0 12px 12px;
    padding: 15px;
    text-align: justify;
    overflow: auto;

}

.type-section {
    position: absolute;
    bottom: 5%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.input-field::placeholder {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.type-section input {
    border: 2px solid red;
    outline: none;
    width: 70%;
    bottom: 5%;
    height: 2.5rem;
    border-radius: 5rem;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5)
    ) !important;
    padding: 0 20px;
    justify-content: center;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes rotateIn {
    from {
        opacity: 0.3;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: rotate(720deg);
    }
}

@keyframes bot_rotate {
    from {
        opacity: 0;
        transform: rotate(0);
    }
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
